/* 
.container-items{
    width: 100%;
    display: flex;
}

.item{
    margin-top: 30px;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    width:30%;
    border-radius: 9px;
    box-shadow: 0 1px 8px #00000040;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item-picture{
    height: 300px;
    width: 100%;
}

.item-footer{
    height:100px;
    width: 100%;
    border: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
}

.item-footer-carrito{
    height:50px;
    width: 100%;
    border: 1px solid #eee;
}

.item-footer-minus{
    float: left;
    margin: 15px;
    margin-left: 10px !important;
    margin-top: 5px !important;
}

.item-footer-plus{
    float: right;
    margin:15px;
    margin-right : 10px !important;
    margin-top: 5px !important;
}
.item-number{
    margin-left: 35%;
    line-height: 3.7;
}

.item-footer-agregar-carrito{
    margin-left: 30%;
}

.item-agregar-carrito{
    margin-left: 30% !important;
    margin-top: 5px !important;
} */