
.container-items{
    width: 100%;
    display: flex;
}

.item{
    margin-top: 30px;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    width:30%;
    border-radius: 9px;
    box-shadow: 0 1px 8px #00000040;
}