.item-picture{
    height: 300px;
    width: 100%;
}

.item-footer{
    height:100px;
    width: 100%;
    border: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
}

.item-footer-carrito{
    height:50px;
    width: 100%;
    border: 1px solid #eee;
}

.item-footer-minus{
    float: left;
    margin: 15px;
}

.item-footer-plus{
    float: right;
    margin:15px
}
.item-number{
    margin-left: 35%;
    line-height: 3.7;
}

.item-footer-agregar-carrito{
    margin-left: 30%;
}